//@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700|Exo+2:300,600);

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Solarized Palette - http://ethanschoonover.com/solarized ---------
  lightgray      : #819090;
  gray           : #708284;
  mediumgray     : #536870;
  darkgray       : #475B62;
  darkblue       : #0A2933;
  darkerblue     : #042029;
  paleryellow    : #FCF4DC;
  paleyellow     : #EAE3CB;
  yellow         : #A57706;
  orange         : #BD3613;
  red            : #D11C24;
  pink           : #C61C6F;
  purple         : #595AB7;
  blue           : #2176C7;
  cyan           : #259286;
  green          : #738A05; */

body {
  line-height: 1.2em;
  background: #101421;
}

.parte1 {
  width: 1150px;
  height: 80px;
  margin: 0 auto;
  background:#101421;
  text-align: left;
} 

.caja1 {
  width: 1150px;
  height: 150px;
  margin: 0 auto;
  background: #0d202c;
  margin-top: 20px;
  margin-bottom: 20px;
}

.parte2 {
  width: 1150px;
  height: 360px;
  margin: 0 auto;
  background:#101421;
}


.parte3 {
  width: 1200px;
  height: 85px;
  margin: 0 auto;
  background:#101421;
  text-align: left;
}

#info{
  position: absolute;
  width: 250px;
  height: 30px; 
  text-align: center;
  top:3%;
  left: 72%;
}

/*#info:hover #infoescondida { --> cuando se pasa sobre algo se puede encender otra cosa
  visibility: visible;
}*/ 

#infotitulo {
  position: relative;
  width: 250px;
  height: 30px; 
  text-align: center;
  background: #0d202c;
  padding-right: 15px;

}

#infotitulo:hover{ 
   background-color: #00c8c8;
}

#infoescondida {
	position: relative;
	width: 250px;
	height: 370px; 
	text-align: center;
	background: #999ca1;
  padding-right: 15px;
  visibility: hidden;
  stroke: #00545c;
  stroke-width:20px;
}




strong {
  font-weight: 600;
}


 /*@media all and (max-width: 500px) {
  h2 {
    padding-left: 10px;
    text-align: center;
  }
  .parte2 {
    width: 100%;
  }
}

*/

#graphic {
  margin: 0 auto;
}

