html, body {
    font-size: 10px;

}

@font-face {
    font-family: "Gotham Black";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/gothamblack.woff") format("woff"), url("/fonts/gothamblackregular.ttf") format("truetype");
} 

@font-face {
    font-family: "Gotham Light";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/gothamlight.ttf") format("truetype");
}  

@font-face {
    font-family: "Gotham Medium";
    font-style: normal;
    font-weight: normal;
    src: url("/fonts/GothamMedium.ttf") format("truetype");
}  

.ejes path{
    fill: none;
    stroke: #00545C;
    shape-rendering: crispEdges;
    
}
.ejes line {
    fill: none;
    stroke: #00545C;
    shape-rendering: crispEdges;
  }
.ejes text {
    font-family: "Gotham Medium";
    font-size: 9px;
    fill: #999CA1;

}

svg {
	margin:0 auto;
}
  
/*.parte2 {  
    background: #000814;
    width: 100% ;
    float: center;
} */

/* BOTON BUSCAR */

.buscar {
  float:left;
  margin-top:4px;
  background:#101421;
  width:230px;
  margin-left: 15%;
}
button {
  height: 18px;
  border-radius:5px;
  margin-top: 2px;
  background: #999CA1;
  font-family: "Gotham Black";
  font-size: 11px;
  color:#101421;
  border: 0;

}

.seleccionar {
  width: 150px;
  height: 14px;
  border-radius:5px;
  font-family: "Gotham Black";
  font-size: 11px;
  border: 0;
  padding-left: 5px;

}

/* FIN BOTON BUSCAR*/

/* Botones Select */ 

.select {
  float:left;
  border-radius:5px;
  display: block;
  width: 15em;
  height: 1.8em;
  left:40%;
  overflow: hidden;
  margin-left:10px;
  margin-top: 6px;
  margin-bottom: 5px;
}

select {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  padding: 0 0 0 .5em;
  color: black;
  cursor: pointer;
  background: #999CA1;
} 

.select2 {
  float:left;
  border-radius:5px;
  display: block;
  width: 15em;
  height: 1.8em;
  left:40%;
  overflow: hidden;
  margin-left:10px;
  margin-top: 6px;
  margin-bottom: 5px;
}

h1 {
  font-family: "Gotham Black"; 
  font-weight: 700;
  color: #00840B;
  font-size: 3.74em;
  -webkit-margin-after: 0.35em;
}

h2 {
  text-align: center;
}

p {
  font-family: "Gotham Medium";
  margin-bottom: 2em;
  color: #00545C;
  font-size: 10.2px;
}

h4 {
  font-family: "Gotham Light";
  float:left;
  font-size:11px;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 8px;
}

h5 { 
font-family: "Gotham Medium";
float:left;
font-size:10px;
color: #999ca1;
margin-left:15px; 
margin-top:10px;
margin-bottom: 10px;
}

h7 {
  font-family: "Gotham Light";
  font-size:10px;
  color: #000814;
  margin-top: 1px;
}

h8 {
font-size: 10px;
fill: red;
}

#infotitulo:hover #colortexto { 
  color: #0f1621;
}

p1 {
font-family: "Gotham Light";
float:left;
font-size:10px;
color: #0f1621;
margin-left:15px; 
margin-top:10px;
margin-bottom: 8px; 
text-align: left;
}

p2 {
font-family: "Gotham Medium";
float:left;
font-size:11px;
color: #00545c;
margin-left:15px; 
margin-top:10px;
margin-bottom: 8px; 
}

h6 {
  font-family: "Gotham Black";
  float:left;
  font-size:11px;
  color: #999CA1;
  margin-left:10px;
  margin-top: 10px;
  margin-bottom: 5px;

}

h3 {
  text-align: center;
  font-family: "Gotham Black";
  font-size:18px;
  color: #000814;
  padding: 2px;
}

hr {
  color: #00545c;
  background-color: #00545c;
  height: 2px;
  border: 0;
  margin-bottom: 1px;
}

#medidaimagen{
	padding-top: 15px;
	width: 200px;
}

#medidatooltip {
	width: 200px;
	height: auto;
}
/*BOTONES PARTE 1 */

.row{
  width:500px;
  margin: auto;
  
}
.row .cell{
  width:100%;
  float:left;
  text-align:center;
  margin-bottom: 5px;
}

.switch {
  display:inline-block;
   transition: all 0.1s ease;
   height: 100%;
   width:100%;
  position: relative;
  text-transform: uppercase;
  background-color: #101421;
  border-radius: 12px;
  border: 1.5px solid #35B8A6;

}

.switch-label{
  position: relative;
  z-index: 2;
  float: left;
  width: 50%;
   height:100%;
   padding:0.4rem 0px;
  font-size: 11px;
  letter-spacing: 1px;
  color:#999ca1;
  text-align: center;
  cursor: pointer;
  font-family: "Gotham Black";

}


.switch-input {
  display: none;
}

.switch-input:checked + .switch-label {
    color: #101421;
     font-weight:700;
}

.switch-input:checked + .switch-label-on ~ .slider {
  left: 50%;
}

.slider {
  display: block;
  position: absolute;
  z-index: 1;
  top: 0%;
  left: 0%;
  width: 50%;
  height: 100%;
  background: #35B8A6;
  border-radius: 10px;
}


/*FIN BOTONES PARTE 1*/ 
